<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/" text="Regresar"></ion-back-button>
        </ion-buttons>
        <ion-title>{{title}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="detallePromocion">
        <ion-row>
            <ion-col>
                <img src="https://www.avianca.com/content/dam/avianca_new/destinos/cun/cun_banner_cancun_destino.jpg">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <h3 class="title">
                    {{promocion.title}}
                </h3>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-row>
                    <ion-col size="3">
                        <label style="font-weight: bold;">
                            Dirección:
                        </label>
                    </ion-col>
                    <ion-col size="9">
                        <label>
                            {{promocion.address}}
                        </label>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-row>
                    <ion-col size="3">
                        <label style="font-weight:bold">
                            Precio:
                        </label>
                    </ion-col>
                    <ion-col size="9">
                        Q {{promocion.price}}
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-item>
                    <ion-button (click)="go()" fill="clear">
                        <ion-icon slot="icon-only" name="location-outline"></ion-icon>
                    </ion-button>
                    <ion-button fill="clear">
                        <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
                    </ion-button>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
    <!-- <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card> -->
</ion-content>